body
{
    color: red;
    text-align: left;
    font-family:"Arial";
    font-size: 16px;
    margin: 0;
    padding: 0; 
}
#cabecera
{
    background: rgb(99, 10, 10);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD
}

#container h1
{
    font: size 20px;
}